---
---
<!DOCTYPE HTML>
<html>
  <head>
    <title>{{ site.title }}</title>
    {% include favicon.html %}
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link href="path/to/dist/zoom.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,900" rel="stylesheet">
  </head>
<!--     <script 
    src="https://code.jquery.com/jquery-3.2.1.js"
    integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
    crossorigin="anonymous"></script>
  <script src="js/transition.js"></script> -->
  <script src="path/to/dist/zoom-vanilla.min.js"></script>
  <script src="js/gallery.js"></script>
  <body>
    <div id="container">
      <!--------------- YOUR NAME OVER HERE -------------->
      <h2 class="header">{{ site.full_name }}</h2>
      <div id="gallery">
      </div>
    </div>

   
  </body>

  <script>
    var COLUMNS = 'columns';
    var ROWS = 'rows';
    var SQUARES = 'squares';

    var columns = COLUMNS;
    var rows = ROWS;
    var squares = SQUARES;

    var layoutStyle = {{ site.layout_style }};

    var configuration = {
      spacing: {{ site.spacing }},
      shuffle: {{ site.shuffle }},
      columns: {{ site.columns }},
      maxHeight: {{ site.max_height }}
    };
  </script>
  <script src="js/script.js"></script>
  <!-- {% include ga.html %} -->
</html>
